* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 50px;
}

section {
  width: 420px;
  height: 200px;
  border: 1px solid black;
  margin: 20px;
  float: left;
}

h3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  text-align: center;
}

#pink {
  position: relative;
  left: 280px;
  width: 150.5px;
  background-color: pink;
}

#red {
  position: relative;
  left: 280px;
  width: 35%;
  background-color: red;
}

#yellow {
  position: relative;
  left: 280px;
  width: 35%;
  background-color: yellow;
}

p {
  padding: 15px;
}

/********** Large devices only**********/
@media (min-width: 992px) {
  section {
    width: 30%;
    height: 40%;
  }
}

/********** Medium devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
  #chicken {
    width: 45%;
    height: 40%;
  }

  #beef
  {
    width: 45%;
    height: 40%;
  }

  #sushi {
    width: 94%;
    height: 40%
  }
}

/********** Small devices only **********/
@media (max-width: 767px) {
section {
  width: 80%;
  height: 40%;
}
}
