* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  padding: 50px;
}

section {
  width: 30%;
  height: 200px;
  border: 1px solid black;
  margin: 20px;
  float: left;
}

h3 {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  padding: 5px;
  text-align: center;
}

#pink {
  position: relative;
  left: 280px;
  width: 35%;
  background-color: pink;
}

#red {
  position: relative;
  left: 280px;
  width: 35%;
  background-color: red;
}

#yellow {
  position: relative;
  left: 280px;
  width: 35%;
  background-color: yellow;
}

p {
  padding: 15px;
}
